html {
  font-size: 10px;
  background: black; 
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.lizzo {
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 5rem; 
  display: block; 
}

.heart {
  font-size: 7rem; 
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: .1rem;
  font-size: 1.5rem;
  padding: .25rem .25rem;
  transition: all .07s ease;
  width: 7rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #e45fab;
  box-shadow: 0 0 1rem #e45fab;
}

kbd {
  font-family: 'Bangers', cursive;
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #e45fab;
}

.footnote {
  font-size: 2.5rem; 
  font-family: 'Lobster', cursive;
  color: #41a9f2; 
  text-align: center; 
  letter-spacing: .1rem;
}
